<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/616ed73eb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Simple Pokedex</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form action="{{ '/process-edit/%s' %row_information.rowid }} " method='POST'>
                <div class="button-container">
                    <a href="/home"><button class="btn"><i class="fa-solid fa-house"></i> Home</button></a>
                    <a href="/loadouts"><button class="btn"><i class="fa-solid fa-x"></i> Cancel Edit</button></a>
                </div>

                    <label for="slot_1">Pokemon #1</label>
                    <input type="text" name="slot_1" value="{{ row_information['slot_1'] }}">
                
                    <label for="slot_2">Pokemon #2</label>
                    <input type="text" name="slot_2" value="{{ row_information['slot_2'] }}">

                <div class="form-row">
                    <label for="slot_3">Pokemon #3</label>
                    <input type="text" name="slot_3" value="{{ row_information['slot_3'] }}">
                </div>

                <div class="form-row">
                    <label for="slot_4">Pokemon #4</label>
                    <input type="text" name="slot_4" value="{{ row_information['slot_4'] }}">
                </div>

                <div class="form-row">
                    <label for="slot_5">Pokemon #5</label>
                    <input type="text" name="slot_5" value="{{ row_information['slot_5'] }}">
                </div>
                
                <div class="form-row">
                    <label for="slot_6">Pokemon #6</label>
                    <input type="text" name="slot_6" value="{{ row_information['slot_6'] }}">
                </div>

                <a><button class="btn" type="submit"><button class="btn"><i class="fa fa-edit"></i> Make Edit</button></a>
            </form>
        </div>
    </div>

</body>
</html>