<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Pokedex</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <div>
            {% if current_user == "" %}
                <a href="/login"><button>Log In</button></a>
                <a href="/signup"><button>Sign up here!</button></a>

            {% else %}
                <a href="/loadouts"><button>View Your Saved Loadouts</button></a>
                <a href="logout"><button>Log Out</button></a>
            {% endif %}
        </div>

        <p>{{ welcome_message }}</p>

        <form action="/search-result" method="POST" class="pkmn-search">
            <label for="input">Enter Pokemon Name</label><br>
            <input class="input-box" id="input" type="text" name="input" placeholder="Pokemon Name">
            <input class="search-button" type="submit" value="Search">
        </form>
        <p style="color:red;">{{ message }}</p>

        <div class="pokedex-image">
            <img src="">
        </div>
    </body>
</html>