<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Api Self Practice</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <form action="/search-result" method="POST" class="pkmn-search">
            <label for="input">Enter Pokemon Name</label><br>
            <input class="input-box" id="input" type="text" name="input" placeholder="Pokemon Name">
            <input class="search-button" type="submit" value="Search">
        </form>

        <div class="pokedex-image">
            <img src="https://i.pinimg.com/originals/ef/ff/65/efff65ee37b35ea3b4df426ad32b1097.png">
        </div>
    </body>
</html>