<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/616ed73eb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Simple Pokedex</title>
</head>
<body>
    <div class="container">
        <div class="header-objects">
            <a href="/"><button class="btn"><i class="fa-solid fa-house"></i> Home</button></a>
            <a href="/logout"><button class="btn"><i class="fa-solid fa-right-from-bracket fa-rotate-180"></i> Logout</button></a>
        </div>

        <div class="form-container">
            <form action="/new-loadout" method="POST">
                <div>
                    <label for="slot_1">Enter Pokemon #1: </label>
                    <input type="text" id="slot_1" name="slot_1" placeholder="Enter Pokemon">
                </div>
    
                <div>
                    <label for="slot_2">Enter Pokemon #2: </label>
                    <input type="text" id="slot_2" name="slot_2" value="Empty">
                </div>
    
                <div>
                    <label for="slot_3">Enter Pokemon #3: </label>
                    <input type="text" id="slot_3" name="slot_3" value="Empty">
                </div>
    
                <div>
                    <label for="slot_4">Enter Pokemon #4: </label>
                    <input type="text" id="slot_4" name="slot_4" value="Empty">
                </div>
    
                <div>
                    <label for="slot_5">Enter Pokemon #5: </label>
                    <input type="text" id="slot_5" name="slot_5" value="Empty">
                </div>
    
                <div>
                    <label for="slot_6">Enter Pokemon #6: </label>
                    <input type="text" id="slot_6" name="slot_6" value="Empty">
                </div>
                
                <a><button class="btn" id="add-loadout" type="submit"><i class="fa-solid fa-plus"></i> Add Loadout</button></a>
            </form>
        </div>
        
        <div class="message-container">
            <h3>Loadouts for {{ current_user }}</h3>
        </div>
    
        <table>
            <tr>
            <th>Slot 1</th>
            <th>Slot 2</th>
            <th>Slot 3</th>
            <th>Slot 4</th>
            <th>Slot 5</th>
            <th>Slot 6</th>
            <th>Edit/Delete</th>
            </tr>
            {% for instance in user_loadouts %}
                <tr>
                    <td>{{ instance['slot_1'] }} <img class="loadout-img" src="{{ instance['sprite_1'] }}"></td>
                    <td>{{ instance['slot_2'] }} <img class="loadout-img" src="{{ instance['sprite_2'] }}"></td>
                    <td>{{ instance['slot_3'] }} <img class="loadout-img" src="{{ instance['sprite_3'] }}"></td>
                    <td>{{ instance['slot_4'] }} <img class="loadout-img" src="{{ instance['sprite_4'] }}"></td>
                    <td>{{ instance['slot_5'] }} <img class="loadout-img" src="{{ instance['sprite_5'] }}"></td>
                    <td>{{ instance['slot_6'] }} <img class="loadout-img" src="{{ instance['sprite_6'] }}"></td>
    
                    <td class="button-container">
                        <a href="{{ '/edit-loadout/%s' %instance.rowid }}"><button class="btn btn2"><i class="fa fa-edit"></i> Edit Loadout</button></a>
                        <a href="{{ '/delete-loadout/%s' %instance.rowid }}"><button class="btn btn2"><i class="fa fa-trash"></i> Delete Loadout</button></a>
                    </td>
    
                </tr>
            {% endfor %}
        </table> 
    </div>

</body>
</html>